.vs/
/build*/
/out*/
/x64/
*.user
*.VC.db
*.VC.opendb
/SimCore/x64/Debug
/SimCoreSandbox/x64/Debug
/SimCoreTests/x64/Debug
/SimCoreTests.local.runsettings
/SimCoreSandbox/DolphinUser
/third-party/dolphin-2506a/lib/x64/Debug - Copy
/SimCoreSandbox/SOASimUser/Cache
/SimCoreSandbox/SOASimUser
